<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/modern-business.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navigation :: navigation"/>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">TYPER
      <small>:)</small>
    </h1>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" th:src="@{/img/emotions.jpg}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>O nas</h2>
        <p>To my Polacy bez przydziału do pracy!
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img style="height: 300px" class="card-img-top" src="/img/about/leader.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Master of Disaster</h4>
            <h6 class="card-subtitle mb-2 text-muted">Team Leader</h6>
            <p class="card-text">Always deliver more than expected</p>
          </div>
          <div class="card-footer">
            <a href="#">teamleader@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img style="height: 300px" class="card-img-top" src="/img/about/Tom.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Tom Tom</h4>
            <h6 class="card-subtitle mb-2 text-muted">Junior Java Developer</h6>
            <p class="card-text">Nothing will work unless you do</p>
          </div>
          <div class="card-footer">
            <a href="#">tom@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img style="height: 300px" class="card-img-top" src="/img/about/Mic.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Mic Mic</h4>
            <h6 class="card-subtitle mb-2 text-muted">Junior Java Developer</h6>
            <p class="card-text">It’s not about ideas. It’s about making ideas happen.</p>
          </div>
          <div class="card-footer">
            <a href="#">Mic@example.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <h2>Our Customers</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/img/logo/barca.png" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/img/logo/real.jpg" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/img/logo/liverpool.png" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/img/logo/legia.png" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="img/logo/ruch.png" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="img/logo/wisla.png" alt="">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
<footer th:replace="fragments/footer :: footer"/>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
