<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Best Typer in whole World!</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/modern-business.css}" rel="stylesheet">

</head>

<body class="d-flex flex-column">
<div id="page-content">

    <!-- Navigation -->
    <nav th:replace="fragments/navigation :: navigation"/>

    <div style="margin-top: 50px;" class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col">
                <h3 class="display-4" style="text-align: center" th:text="${competitionName}"></h3>
                <h4 class="display-4" style=" font-size: 30px; text-align: center" th:text="${stageName}"></h4>
                <div th:each="match: ${matchesByGroup}">
                    <h2 class="display-4 font-weight-bold" style=" font-size: 40px; text-align: center">
                        <th:block th:if="${match.key != 'absentGroup'}">
                            <th style="text-align: center; font-size: 30px" colspan="6" scope="col"
                                th:text="${match.key}"></th>
                        </th:block>
                    </h2>
                    <div th:each="mapValue, stat : ${match.value}" th:if="${stat.even}">
                        <div class="row">
                            <div class="col-lg-6 mb-4" th:with="leftMatchValue=${match.value.get(stat.index - 1)}">
                                <div class="card h-100">
                                    <h4 class="card-header" style="text-align: center;">
                                        <span th:text="${#temporals.format(leftMatchValue.utcDate, 'dd-MM-yyyy HH:mm')}"></span>
                                        <div th:if="${leftMatchValue.matchday != null}">
                                            <span th:text="${#objects.nullSafe('Kolejka: ' + leftMatchValue.matchday, '')}"></span>
                                        </div>
                                    </h4>
                                    <div style="padding: 1rem">
                                        <div class="row my-auto  justify-content-center">
                                            <div class="float-left">
                                                <figure class="my-auto">
                                                    <img class="img-center"
                                                         th:src="${#objects.nullSafe(leftMatchValue.homeTeam.crestUrl, '')}"/>
                                                    <figcaption style="width: 120px;" class="text-center" th:text="${leftMatchValue.homeTeam.name}"></figcaption>
                                                </figure>

                                            </div>
                                            <div class="text-center my-auto" style="margin-left: 10px; margin-right: 10px">
                                                <div style="font-weight: bold" th:text="${mapValue.status}"></div>
                                                <span style="font-size: 40px" th:text="${#objects.nullSafe(leftMatchValue.score.fullTime.homeTeam, '')} +
                                        ' - ' + ${#objects.nullSafe(leftMatchValue.score.fullTime.awayTeam, '')}"></span>
                                            </div>
                                            <div class="float-right">
                                                <figure class="my-auto">
                                                    <img class="img-center"
                                                         th:src="${#objects.nullSafe(leftMatchValue.awayTeam.crestUrl, '')}"/>
                                                    <figcaption style="width: 120px;" class="text-center" th:text="${leftMatchValue.awayTeam.name}"></figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4" th:if="${stat.index &lt; match.value.size()}"
                                 th:with="rightMatchValue=${match.value.get(stat.index)}">
                                <div class="card h-100">
                                    <h4 class="card-header" style="text-align: center;">
                                        <span th:text="${#temporals.format(rightMatchValue.utcDate, 'dd-MM-yyyy HH:mm')}"></span>
                                        <div th:if="${rightMatchValue.matchday != null}">
                                            <span th:text="${#objects.nullSafe('Kolejka: ' + rightMatchValue.matchday, '')}"></span>
                                        </div>
                                    </h4>
                                    <div style="padding: 1rem">
                                        <div class="row my-auto justify-content-center">
                                            <div class="float-left">
                                                <figure class="my-auto">
                                                    <img class="img-center"
                                                         th:src="${#objects.nullSafe(rightMatchValue.homeTeam.crestUrl, '')}"/>
                                                    <figcaption style="width: 120px;" class="text-center" th:text="${rightMatchValue.homeTeam.name}"></figcaption>
                                                </figure>
                                            </div>
                                            <div class="text-center my-auto" style="margin-left: 10px; margin-right: 10px">
                                                <div style="font-weight: bold" th:text="${mapValue.status}"></div>
                                                <span style="font-size: 40px" th:text="${#objects.nullSafe(rightMatchValue.score.fullTime.homeTeam, '')} +
                                        ' - ' + ${#objects.nullSafe(rightMatchValue.score.fullTime.awayTeam, '')}"></span>
                                            </div>
                                            <div class="float-right">
                                                <figure class="my-auto">
                                                    <img class="img-center"
                                                         th:src="${#objects.nullSafe(rightMatchValue.awayTeam.crestUrl, '')}"/>
                                                    <figcaption style="width: 120px;" class="text-center" th:text="${rightMatchValue.awayTeam.name}"></figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer id="sticky-footer" th:replace="fragments/footer :: footer"/>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>