<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Best Typer in whole World!</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/modern-business.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navigation :: navigation"/>

<div style="margin-top: 50px;" class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col">
            <h3 class="display-4" style="text-align: center" th:text="${competitionName}"></h3>
            <h4 class="display-4" style=" font-size: 30px; text-align: center" th:text="${stageName}"></h4>
            <div th:each="match: ${matchesByGroup}">

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th:block th:if="${match.key != 'absentGroup'}">
                            <th style="text-align: center; font-size: 30px"
                                colspan="4" scope="col" th:text="${match.key}"></th>
                        </th:block>
                    </tr>
                    <th scope="col">Data</th>
                    <th scope="col">Gospodarz</th>
                    <th scope="col">Wynik</th>
                    <th scope="col">Gość</th>
                    </tr>
                    </thead>
                    <tbody id="matchScore">
                    <tr th:each="mapValue : ${match.value}">
                        <td th:text="${#temporals.format(mapValue.utcDate, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${mapValue.homeTeam.name}"></td>
                        <td th:text="${#objects.nullSafe(mapValue.score.fullTime.homeTeam, '')} + '-' + ${#objects.nullSafe(mapValue.score.fullTime.awayTeam, '')}"></td>
                        <td th:text="${mapValue.awayTeam.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-2">

        </div>
    </div>


</div>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"/>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>