<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Best Typer in whole World!</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/login.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navigation :: navigation"/>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Witaj typerze!</h3>
                            <form method="POST" th:action="@{/register}" id="registerForm" th:object="${user}"
                                  oninput='password.setCustomValidity(password.value != confirm.value ? "Passwords do not match." : "")'>
                                <div class="form-label-group">
                                    <input type="text" id="username" name="username" th:field="*{username}" class="form-control" placeholder="Username" required autofocus>
                                    <label for="username">Username</label>
                                    <div class="text text-danger" th:if="${#fields.hasErrors('username')}"
                                         th:errors="*{username}"></div>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" name="password" th:field=" *{password}" id="inputPassword" class="form-control" placeholder="Password" required>
                                    <label for="inputPassword">Password</label>
                                    <div class="text text-danger" th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}"></div>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" name="confirm"  id="confirm" class="form-control" placeholder="confirm" required>
                                    <label for="confirm">Confirm</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="text" id="email" name="mail" th:field="*{mail}" class="form-control" placeholder="example@mail.com" required autofocus>
                                    <label for="email">Email</label>
                                    <div class="text text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></div>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Zarejestruj</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace="fragments/footer :: footer"/>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
