<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Best Typer in whole World!</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/modern-business.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navigation :: navigation"/>

<div  class="container-fluid">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col">
            <h3 class="display-4" style="text-align: center" th:text="${competitionName}"></h3>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-default float-right"
               th:href="@{/competitions/{id}/standings/update(id=${apiId})}"
               role="button">Aktualizuj</a>

            <div th:each="standing: ${standings}">

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th style="text-align: center; font-size: 30px" colspan="8" scope="col">
                            <a class="btn btn-default float-right" th:href="@{/competitions/{id}/matches(id=${apiId})}"
                               role="button">Mecze</a>
                            <a th:text="${standing.groupName}"
                               th:href="@{/competitions/{id}/standings(id=${apiId},group=${standing.groupName})}"></a>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">Pozycja</th>
                        <th scope="col">Drużyna</th>
                        <th scope="col">M</th>
                        <th scope="col">W</th>
                        <th scope="col">R</th>
                        <th scope="col">P</th>
                        <th scope="col">B</th>
                        <th scope="col">P</th>
                    </tr>
                    </thead>
                    <tbody id="leagueStanding">
                    <tr th:each="leagueStanding : ${standing.leagueStandings}">
                        <td th:text="${leagueStanding.position}"/>
                        <td th:text="${leagueStanding.team.name}"/>
                        <td th:text="${leagueStanding.playedGames}"/>
                        <td th:text="${leagueStanding.won}"/>
                        <td th:text="${leagueStanding.draw}"/>
                        <td th:text="${leagueStanding.lost}"/>
                        <td th:text="${leagueStanding.goalsFor} + ':' + ${leagueStanding.goalsAgainst}"/>
                        <td th:text="${leagueStanding.points}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-2">

        </div>
    </div>


</div>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"/>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
