<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Best Typer in whole World!</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/modern-business.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navigation :: navigation"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col">

            <p class="display-4 text-center">Dostępne ligi typerów</p>

            <div class="display-6 text-center">
                <div  th:if="${errorMessage != null}" th:text="${errorMessage}" class="text text-danger"></div>
            </div>

            <div >
                <input class="form-control" id="mySearch" type="text" placeholder="Search.."/>

                <table class="table table-striped table-sm text-center">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Runda</th>
                        <th scope="col">Liczba graczy</th>
                        <th scope="col">Ostatnia akutalizacja</th>
                        <th scope="col">Akcja</th>
                    </tr>
                    </thead>
                    <tbody id="searchTable">
                    <tr th:each="typerCompetition : ${typerCompetitions}">
                        <td th:text="${typerCompetition.id}"/>
                        <td th:text="${typerCompetition.name}"/>
                        <td th:text="${typerCompetition.currentRound}"/>
                        <td th:text="${#lists.size(typerCompetition.typerPlayers)}"/>
                        <td  th:text="${#temporals.format(typerCompetition.lastUpdated, 'dd-MM-yyyy HH:mm')}"/>
                        <td >
                            <a class="btn btn-sm btn-primary"    th:href="@{/typer/manager/competitions/{id}/edit(id=${typerCompetition.id})}" >Edytuj </a>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#deleteModal" th:data-id="${typerCompetition.id}"  >Usuń</button>
                            <a class="btn btn-sm btn-primary"  th:href="@{/typer/manager/competitions/{id}/count(id=${typerCompetition.id})}" >Przelicz</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-sm btn-primary float-left" th:if="${hasPrev}" th:href="@{/typer/manager(page=${prev})}">Poprzednie</a>
                <a class="btn btn-sm btn-primary float-right" th:if="${hasNext}" th:href="@{/typer/manager(page=${next})}">Następne</a>
            </div>
        </div>
        <div style="margin-top: 50px" class="col-sm-2">
            <p class="display-6" style="text-align: center">Stwórz nową ligę</p>
            <form method="POST" th:action="@{'/typer/manager/competitions'}" th:object="${typerCompetitionDTO}" id="createTComp">
                <div class="form-label-group">
                    <input type="text" id="name" th:field="*{name}" name="name" class="form-control" placeholder="Nazwa" required autofocus>
                    <div class="text text-danger" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                </div>

                <button class="btn btn-sm btn-primary btn-block font-weight-bold mb-2" type="submit">Załóż ligę</button>

            </form>

        </div>
    </div>


</div>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"/>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalCentre" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Uwaga!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body alert-danger" id="contentModal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <a type="button" id="deleteLink"  class="btn btn-primary">Potwierdź</a>
            </div>
        </div>
    </div>
</div>





<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/sample.js"></script>

</body>

</html>
